*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

#logo{
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-shadow: 0px 1px 1px white;
  margin-bottom: 5px;
}
#logo span{
  color:orange;
}
.navbar-toggler span{
  color:orange;
}
.navbar-nav{
  margin-left: 20px;
}
.nav-item .nav-link{
  font-size: 16px;
  font-weight: 550;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0 0.5s ease;
}
.nav-item .nav-link:hover{
  background-color: orange;
  color: white;
}
#Navbar form button{
  background-color: orange;
  color:white;
  border:none;
}

/* Hoạt đông */
.main-txt h1{
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
  color:orange;
}
.hoatdong .card{
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.hoatdong .card img{
  border-radius: 5px;
  height:200px;
}
.hoatdong .card .card-body{
  background:transparent;
}

/* Tiêu đề */
.hoatdong .card .card-body h3{
  font-size: 25px;
  font-weight: 600;
}
/* Nội dung */
.hoatdong .card .card-body p{
  font-size: 15px;
}

/* Ngôi sao */
.checked{
  color:orange;
}
.star i{
  font-size: 15px;
}
/* Giá */
.hoatdong .card .card-body h6{
  font-size: 20px;
}
